*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $cor1;
}

button{
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

